@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

body {
  background: url('../img/pattern.png') repeat;
  font-family: "PT Sans", Helvetica,Arial,FreeSans;
  color: #333;
  margin: 0;
  padding: 0;
}
p, li {
  line-height: 1.5;
}
.container {
  margin: 0 auto;
  width: 750px;
  padding: 5px 20px 20px;
}

.content, .footer {
  -webkit-box-shadow: 1px 1px 10px #CCC;
  -moz-box-shadow: 1px 1px 10px #ccc;
  -ms-box-shadow: 1px 1px 10px #ccc;
  -o-box-shadow: 1px 1px 10px #ccc;
  box-shadow: 1px 1px 10px #CCC;
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}

.page-header h1 {
  font-size: 46px;
  color: #333;
  margin-bottom: 3px;
  margin-top: 12px;
  line-height: 30px;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}

.page-header small {
  color: #999;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
}

h1 small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { 
  font-size: 1.5em;
  color: #333;
}
h3 {
  color: #333;
}

a { color: #333; }

pre {
  padding: 1em;
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Mono", Menlo, Monaco, "Courier New", monospace;
  background-color: #444;
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1.5em 0;
}

.footer {
  text-align:center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: italic;
}
